<div class="panel panel-default" id="billing-panel">
    <div class="panel-body">
        <ul class="list-group" id="billing-list-group">
            <li class="list-group-item">
                plan: personal plan
                <button class="btn btn-link btn-sm pull-right">update plan</button>

            </li>
            <li class="list-group-item">
                payment: <i class="fa fa-credit-card" aria-hidden="true"></i> **** 5488
                <button class="btn btn-link btn-sm pull-right">update payment</button>
            </li>
            <li class="list-group-item">
               tax id: add to your receipts
               <button class="btn btn-link btn-sm pull-right">add tax-id</button>
            </li>
        </ul>

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>id</th>
                    <th>date</th>
                    <th>amount</th>
                    <th>description</th>
                    <th>method</th>
                    <th>download</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>erEN3233fe</td>
                    <td>01/23/2017</td>
                    <td>$7.00</td>
                    <td>personal plan</td>
                    <td>visa 5548</td>
                    <td>
                        <button class="btn btn-link btn-sm">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
